<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="grade-wrapper">
			 <span class="g-head">
			 	Grade
			 </span>	
			<span class="grade-text">
				A
			</span>
			</div>
			
		</div>
		<div class="col-md-8">
			<div class="grade-content-wrapper">
				Item Number: 1625273<br>
				Product Name: Wine Famous Name 1990<br>
				Product Description: This is hort description of the product
				Date Manufactured: 22/08/2017
			</div>
		</div>
	</div>
</div>