<header>
	<div class="container">
		<dic class="row">
			<div class="col-md-12">
				<a href=""><img class="bc-logo bc-logo-element" src="../images/logo.svg" alt="blockchaintechnologymalaysia"></a> 
			</div>
		</div>
	</div>
     
</header>