<div class="table-main-wrapper">
	<div class="container">
		<div class="col-md-12">
			<table class="table table-striped">
    <thead>
      <tr>
        <th>Item Number</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
		</div>
	</div>
</div>